body {
  background-color:yellowgreen;
}
.A {
  font-weight: 400;
  font-family:Impact;
}
h3 {
  color: brown;
}
#Data {
  color: blueviolet;
  font-weight: 400;
   font-family: Arial, Helvetica, sans-serif;
   background-color: aqua;
  }
#head {
  border: 5px;
   background-color: azure;
  }
img {
  background-color:blanchedalmond;
  padding: 5px;
}
